{% extends "base.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<article>
  <form hx-post="/roll" hx-target="#results" hx-swap="innerHTML">
    <label for="dice">Number of dice</label>
    <input type="number" id="dice" name="dice" min="1" max="10" step="1" value="3" required>

    <label for="sides">Number of sides</label>
    <select id="sides" name="sides">
      {% for sides in sidesOptions %}
      <option value="{{ sides }}" {% if sides == 6 %}selected{% endif %}>{{ sides }}</option>
      {% endfor %}
    </select>

    <button>Roll Dice</button>
  </form>
</article>

<article id="results">
  <header><h2>Last Roll</h2></header>
  <p><em>None</em></p>
</article>
{% endblock %}
